<div class="container portfolio-container">
	<div class="row port-show-pad">
		<div class="col-md-7">
			<%= image_tag portfolio_img(@portfolio_item.main_image, 'main') %>
		</div>

		<div class="col-md-5">
			<h1><%= @portfolio_item.title %></h1>

			<hr>

			<em><%= @portfolio_item.subtitle %></em>

			<p><%= @portfolio_item.body %></p>

			<h4>Technologies Used:</h4>

			<hr>

			<% @portfolio_item.technologies.each do |t| %>
			<p><%= t.name %></p>
			<% end %>

			<% if logged_in?(:site_admin) %>

			<div class="col-md-12">
				<%= link_to "Edit Portfolio Item", edit_portfolio_path(@portfolio_item), class: "remove-tech btn btn-info" %>
			</div>

			<% end %>

		</div>
	</div>
</div>