<div class="masthead clearfix">
  <div class="inner">
    <div class="row no-gutters">
      <div class="col-8 col-md-3">
        <h3 class="masthead-brand name-about"><%= name_helper 'name-about', 'span' %></h3>
      </div>
      <div class="col-4 col-md-9">
        <nav class="nav nav-masthead app-nav navbar-toggleable-md">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars fa-2x"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <%= nav_helper 'nav-link', 'span' %>
            <%= login_helper 'nav-link' %>
          </div>

          <div id="menu" class="panel panel-default panel-collapse collapse">
            <div class="container no-gutters">
              <div class="modal-height">
                <div class="row modal-padding">
                  <ul>
                    <%= nav_helper 'modal-link', 'li' %>
                    <li class="inline-center-flex"><%= login_helper 'nav-link' %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </nav>
      </div>
    </div>
  </div>
</div>